
<footer>
    <section class="bg-footer"> <!--banner-->
        <div class="container py-50">
            <div class="d-flex align-items-center mb-4">
                <div class="me-auto"> <!-- logo-->
                    <a class="navbar-brand d-flex align-items-center gap-2 mt-1" href="index.html">
                    <img src="../assets/images/LH_logo.png" alt="logo" width="74" height="47.57">
                    <span class="d-flex flex-column lh-1">
                        <strong class="brand-title text-footer">小蜜蜂卡牌屋</strong>
                        <span class="brand-sub text-footer fs-8 mt-1">Little Bee Card House</span>
                    </span>
                    </a>
                </div>

                <div> <!-- nav-->
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link p-75 fw-bold" href="#">消息攻略</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-75 fw-bold" href="#">優惠專區</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex align-items-center"> <!--聯絡-->
                <ul class="nav">
                    <li class="nav-item me-3"><a class="nav-link p-0" href="">
                        <i class="bi bi-facebook"></i>
                    </a></li>
                    <li class="nav-item me-3"><a class="nav-link p-0" href="">
                        <i class="bi bi-instagram"></i>
                    </a></li>
                    <li class="nav-item me-3"><a class="nav-link p-0" href="">
                        <i class="bi bi-messenger"></i>
                    </a></li>
                    <li class="nav-item me-137-5"><a class="nav-link p-0" href="">
                        <i class="bi bi-whatsapp"></i>
                    </a></li>
                </ul>
                
                <p class="m-0 text-white fs-87-5">聯絡我們  sevice@cardstore.com.tw</p>
            </div>
        </div>
    </section>

    <section class="bg-gray500"> <!--版權-->
        <div class="d-flex justify-content-center py-75">
            <p class="m-0 text-white-50 fs-75">網站版權為 小蜜蜂卡牌屋 所有 Copyright © 2025 小蜜蜂卡牌屋 . All rights reserved.</p>
        </div>
    </section>
</footer>
