// 自訂樣式 以註解分類 寫在_custom.scss
// [data-app="site"] {
//   .btn { border-radius: .75rem; }
//   .product-card { background-color: #f9f9f9; }
//   .navbar { background-color: #fff; border-bottom: 1px solid #ddd; }
// 範例內容僅供參考  請依實際需求修改
//獨立空間樣式 引用寫法


[data-app="cart"]
{
    img{
        max-width: 100%;
    }
    .p-20px{
        padding: 20px;
    }
    .px-32px{
        padding-left: 32px;
        padding-right: 32px;
    }
    .text-gray-300{
        color:$gray-300;
    }
}
















// 應用限定區域樣式在html 標籤上加入 data-app="site"
// 使用樣式寫在最外層↓
// <!DOCTYPE html>
// <html lang="zh-Hant" data-app="site" <--寫在這裡>
//   <head>
//     <meta charset="UTF-8" />
//     <title>首頁</title>
//   </head>
//   <body>
//     <button class="btn btn-primary">送出</button>
//     <div class="product-card">卡片內容</div>
//   </body>
// </html>