// 匯入文字
@import "../utils/font";

[data-app="product-list"] {
  .button {
    border-radius: 100px;
    border: 1px solid var(--Neutral-black, #1c1c1c);
    background: var(--Neutral-black, #1c1c1c);
  }
}
