<!DOCTYPE html>
<html lang="zh-Hant" data-app="products">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寶可夢 超級勇氣 - 商品列表</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="product-list-page">
      <div class="container">
        <div class="row gx-5">
          <aside class="col-3">
            <div class="menu-box">
              <div class="search-box">
                <input type="text" placeholder="搜尋卡牌" />
                <i class="bi bi-search"></i>
              </div>

              <div class="accordion" id="menuAccordion">
                <div class="fw-bold mb-2">Weiß Schwarz</div>

                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOnePiece">
                      航海王
                    </button>
                  </h2>
                  <div
                    id="collapseOnePiece"
                    class="accordion-collapse collapse"
                    data-bs-parent="#menuAccordion">
                    <div class="accordion-body">
                      <a href="#">最新彈</a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapsePokemon">
                      寶可夢
                    </button>
                  </h2>
                  <div
                    id="collapsePokemon"
                    class="accordion-collapse collapse"
                    data-bs-parent="#menuAccordion">
                    <div class="accordion-body">
                      <a href="#">最新彈</a>
                      <a href="#">超級勇氣</a>
                      <a href="#">超級交響樂</a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseVanguard">
                      Vanguard
                    </button>
                  </h2>
                  <div
                    id="collapseVanguard"
                    class="accordion-collapse collapse"
                    data-bs-parent="#menuAccordion">
                    <div class="accordion-body">
                      <a href="#">最新系列</a>
                      <a href="#">特典包</a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseYugioh">
                      遊戲王
                    </button>
                  </h2>
                  <div
                    id="collapseYugioh"
                    class="accordion-collapse collapse"
                    data-bs-parent="#menuAccordion">
                    <div class="accordion-body">
                      <a href="#">最新卡包</a>
                      <a href="#">結構牌組</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <section class="col-9">
            <div class="page-title mb-7">
              <p class="sub-title fs-5">/ PTGC /</p>
              <h1 class="main-title fw-bold">寶可夢 超級勇氣</h1>
            </div>

            <div class="row row-cols-1 row-cols-lg-2 g-6">
              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card product-card h-100">
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <img
                          src="../assets/images/product-card-sewaddle.png"
                          class="img-fluid"
                          alt="寶可夢卡牌" />
                      </div>
                    </div>

                    <div class="col-8">
                      <div
                        class="card-body d-flex flex-column h-100 position-relative">
                        <button
                          class="btn btn-icon btn-favorite position-absolute top-0 end-0 m-4">
                          <i class="bi bi-heart"></i>
                        </button>

                        <span class="tag align-self-start">寶可夢</span>

                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="product-name">蟲寶包</h5>
                        </div>

                        <div class="product-purchase mt-auto">
                          <div
                            class="d-flex justify-content-between align-items-center">
                            <div class="price-stock">
                              <p class="price">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                                aria-label="加入收藏">
                                <i class="bi bi-heart fs-4"></i>
                              </button>
                              <span class="quantity-value">1</span>
                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                aria-label="增加數量">
                                <i class="bi bi-plus"></i>
                              </button>
                            </div>
                          </div>

                          <a href="#" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <nav aria-label="Page navigation" class="mt-7">
              <ul class="pagination justify-content-center mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#">
                    <img
                      src="../assets/images/arrow-left.svg"
                      alt="上一頁"
                      class="pagination-arrow" />
                  </a>
                </li>

                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>

                <li class="page-item">
                  <a class="page-link" href="#">
                    <img
                      src="../assets/images/arrow-right.svg"
                      alt="下一頁"
                      class="pagination-arrow" />
                  </a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script src="../assets/JS/products.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
