<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寶可夢 超級勇氣 - 商品列表</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <!-- breadcrumb -->
      <nav aria-label="breadcrumb" class="mr-2 my-6">
        <ol
          class="breadcrumb mb-0 body-sm text-gray-400 lh-base fw-normal font-noto">
          <li class="breadcrumb-item">
            <a href="#" class="text-gray-400 text-decoration-none">首頁</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" class="text-gray-400 text-decoration-none">選擇商品</a>
          </li>

          <!-- <li class="breadcrumb-item">
              <a href="#" class="text-gray-400 text-decoration-none"
                >胖嘟嘟ex</a
              >
            </li> -->

          <li
            class="breadcrumb-item active text-black fw-normal"
            aria-current="page">
            寶可夢 超級勇氣
          </li>
        </ol>
      </nav>
      <!-- breadcrumb-end -->
    </div>

    <main class="product-list-page">
      <div class="container">
        <div class="row gx-4">
          <aside class="col-3">
            <div class="side-menu">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="搜尋..."
                  aria-label="搜尋"
                />
                <button class="btn btn-light" type="submit">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                    />
                  </svg>
                </button>
              </div>

              <nav class="sidebar-nav">
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="nav-link d-flex justify-content-between"
                      ><span>Weiβ Schwarz</span>
                      <i class="fa-solid fa-chevron-down"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="nav-link d-flex justify-content-between"
                      ><span>航海王</span>
                      <i class="fa-solid fa-chevron-down"></i
                    ></a>
                  </li>
                  <li class="nav-item-active">
                    <a
                      href="#pokemon-collapse"
                      class="nav-link d-flex justify-content-between"
                      data-bs-toggle="collapse"
                      role="button"
                      aria-expanded="true"
                    >
                      <span>寶可夢</span> <i class="fa-solid fa-chevron-up"></i>
                    </a>
                    <div class="collapse show" id="pokemon-collapse">
                      <ul class="list-unstyled sub-menu">
                        <li>
                          <a
                            href="#latest-collapse"
                            class="nav-link d-flex justify-content-between"
                            data-bs-toggle="collapse"
                            role="button"
                            aria-expanded="true"
                          >
                            <span>最新彈</span>
                            <i class="fa-solid fa-chevron-up"></i>
                          </a>
                          <div class="collapse show" id="latest-collapse">
                            <ul class="list-unstyled sub-menu-2">
                              <li>
                                <a href="#" class="nav-link active">超級勇氣</a>
                              </li>
                              <li>
                                <a href="#" class="nav-link">超級交響樂</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li>
                          <a
                            href="#"
                            class="nav-link d-flex justify-content-between"
                            ><span>朱紫系列</span>
                            <i class="fa-solid fa-chevron-down"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            href="#"
                            class="nav-link d-flex justify-content-between"
                            ><span>劍盾系列</span>
                            <i class="fa-solid fa-chevron-down"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#" class="nav-link d-flex justify-content-between"
                      ><span>Vanguard</span>
                      <i class="fa-solid fa-chevron-down"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="nav-link d-flex justify-content-between"
                      ><span>遊戲王</span>
                      <i class="fa-solid fa-chevron-down"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </aside>
          <section class="col-9">
            <div class="page-title text-center mb-5">
              <p class="sub-title">/ PTGC /</p>
              <h1 class="main-title">寶可夢 超級勇氣</h1>
            </div>

            <div class="row row-cols-2 g-4">
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-1.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="body-md text-gray-300 mb-1">SV11WF - 042</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              胖嘟嘟ex
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <div class="d-flex align-items-baseline">
                                <p class="price fs-5 mb-0">NT $5</p>

                                <p
                                  class="text-gray-400 text-decoration-line-through fs-9 mb-0 ms-2">
                                  NT$15
                                </p>
                              </div>

                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-5.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 001</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              愛管侍
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <div class="d-flex align-items-baseline">
                                <p class="price fs-5 mb-0">NT $5</p>

                                <p
                                  class="text-gray-400 text-decoration-line-through fs-9 mb-0 ms-2">
                                  NT$15
                                </p>
                              </div>

                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-6.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 002</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              超能妙喵
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                disabled
                              ></button>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-7.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 003</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              波克基斯
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-8.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 004</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              由克希
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <div class="d-flex align-items-baseline">
                                <p class="price fs-5 mb-0">NT $5</p>

                                <p
                                  class="text-gray-400 text-decoration-line-through fs-9 mb-0 ms-2">
                                  NT$15
                                </p>
                              </div>

                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card product-card">
                  <div class="row g-0">
                    <div class="col-4">
                      <div
                        class="product-card-image-frame h-100 d-flex align-items-center justify-content-center">
                        <a
                          href="http://localhost:5173/web-layout-training-vite/pages/product-list.html">
                          <img
                            src="../assets/images/product-card-sewaddle.png"
                            class="img-fluid"
                            alt="寶可夢卡牌" />
                        </a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <span class="badge product-badge">寶可夢</span>
                        <div class="product-info">
                          <p class="product-code">SV11WF - 005</p>
                          <h5 class="h6-ch text-gray-500">
                            <a
                              href="http://localhost:5173/web-layout-training-vite/pages/product-list.html"
                              class="text-decoration-none text-reset">
                              蟲寶包
                            </a>
                          </h5>
                        </div>

                        <div class="product-purchase mt-0">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div class="price-stock">
                              <p class="price fs-5 mb-0">NT $5</p>
                              <p class="stock-status in-stock small">
                                <i
                                  class="fa-solid fa-circle text-success fa-xs"></i>
                                尚有庫存
                              </p>
                            </div>

                            <button
                              class="btn btn-fav d-flex align-items-center justify-content-center position-absolute top-0 end-0 m-4"
                              aria-label="加入收藏">
                              <i class="bi bi-heart fs-4"></i>
                            </button>

                            <div
                              class="quantity-box d-flex align-items-center justify-content-between m-0">
                              <button
                                class="btn-icon btn-minus"
                                type="button"
                                aria-label="減少數量">
                                <i class="bi bi-dash"></i>
                              </button>

                              <span class="quantity-value">1</span>

                              <button
                                class="btn-icon btn-plus"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              ></button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                              </ul>
                            </div>
                          </div>

                          <a href="" target="_blank" class="btn btn-add w-100">
                            <span class="add-text">加入購物車</span>

                            <span class="icon">
                              <i class="bi bi-arrow-right"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <nav aria-label="Page navigation" class="mt-5">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#"
                    ><i class="fa-solid fa-chevron-left"></i
                  ></a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item"><a class="page-link" href="">4</a></li>
                <li class="page-item"><a class="page-link" href="">5</a></li>

                <li class="page-item">
                  <a class="page-link" href="#"
                    ><i class="fa-solid fa-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script> -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
