<!DOCTYPE html>
<html lang="en" data-app="Q&A-style">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">

</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="container">
      <section class="h-72 mb-7">
        <div class="container-md">
          <!-- breadcrumb -->
          <nav aria-label="breadcrumb" class="mr-2 py-6">
            <ol class="breadcrumb mb-0 body-sm text-gray-400 lh-base fw-normal ">
              <li class="breadcrumb-item">
                <a href="index.html" class="text-gray-400 text-decoration-none text--Global-variables-index">首頁</a>
              </li>
              <li class="breadcrumb-item active fw-normal  text-Global-variables" aria-current="page">
                <span class="text-Global-variables">網站指南</span>
              </li>
            </ol>
          </nav>
        </div>
      </section>

      <div class="content m-0a py-3">
        <main class="content content-main pt-80">
          <div class="row d-xl-flex justify-content-center column-gap-xl-4">
            <!-- Left -->
            <section class="Left-menu col-xl-4 Left-menu-style">
              <nav class="navbar navbar-light bg-light Left-menu-border">
                <div class="container-fluid  ">
                  <form class="m-0a w-100 border-bottom-1 " role="search">
                    <div class="input-group search-input-wrapper h-48">
                      <input type="search"
                        class="form-control text-nav-input h-48 Left-menu-svg-border border-end-0 text-Global-variables"
                        placeholder="搜尋問題" aria-label="搜尋問題">
                      <button class="btn btn-outline-primary input-group-textpr-1 Left-menu-svg-border border-start-0"
                        type="submit">
                        <svg class="search-icon bottom-color" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          fill="currentColor" viewBox="0 0 20 16">
                          <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>

                <ul class="m-1620 w-100 p-0">
                  <div
                    class="accordion accordion-flush SVG-switch d-flex justify-content-between column-gap-4 flex-column"
                    id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <!-- 不再把 <a> 放在 button 裡，避免事件衝突 -->
                        <button class="accordion-button collapsed px-0 d-xl-flex h-36" type="button"
                          data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                          aria-controls="flush-collapseOne">
                          <span class="text-xl-start text-color-primary m-0">資訊首頁</span>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <a class="" href="#">前往資訊首頁</a>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed h-36 px-0" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          <span class="text-xl-start">關於小蜜蜂卡牌屋</span>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <a class="" href="#">品牌介紹</a>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed h-36 px-0" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree" aria-expanded="false"
                          aria-controls="flush-collapseThree">
                          <span class="text-xl-start">成為會員</span>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <a class="" href="#">註冊 / 會員權益</a>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed h-40 px-0" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                          <span class="text-xl-start">購買卡片問題</span>
                        </button>
                      </h2>
                      <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <ul class="p-0 list-unstyled">
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關於購買</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關於付款方式</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關於配送</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關於取消和更改</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關於退貨和換貨</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關於訂單</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed h-40 px-0" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                          <span class="text-xl-start">消息攻略問題</span>
                        </button>
                      </h2>
                      <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <ul class="p-0 list-unstyled">
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">最新消息</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">關卡攻略</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">社群攻略</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">特定牌組消息</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-3"><a href="#"
                                class="h-20 fs-16">主流牌組</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed h-40 px-0" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                          <span class="text-xl-start">其他問題</span>
                        </button>
                      </h2>
                      <div id="flush-collapseSix" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <ul class="p-0 list-unstyled">
                            <li class="item-text-wh h-36 text-xl-start px-0 py-2"><a href="#"
                                class="h-20 fs-16">關於卡片收藏與保存</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-2"><a href="#"
                                class="h-20 fs-16">遊戲環境</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-2"><a href="#"
                                class="h-20 fs-16">對戰練習(Ai練習場)</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-2"><a href="#"
                                class="h-20 fs-16">社群比賽</a></li>
                            <li class="item-text-wh h-36 text-xl-start px-0 py-2"><a href="#"
                                class="h-20 fs-16">版本更新</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
                <!--章節/主題 網頁區塊-->
              </nav>
            </section>

            <!-- Right -->
            <article id="Right-menu" class="Right-menu Right-menu-style col-xl-8">
              <div class="w-100 pl-12">
                <div class="h-a text-xl-center mb-7">
                  <nav aria-label="breadcrumb mb-2 ">
                    <ol class="breadcrumb my-0 h-29 fs-24 text-color-primary">
                      <li class="breadcrumb-item"><a href="#"></a></li>
                      <li class="breadcrumb-item text-color-primary fs-24 h-29"><a class="text-color-primary"
                          href="#">FAQ</a></li>
                      <li class="breadcrumb-item active text-color-primary" aria-current="page"></li>
                    </ol>
                  </nav>
                  <h4 class="fs-48 text-xl-start mt-2 ">網站指南</h4>
                </div>

                <div class="accordion" id="accordionExample">
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是特典卡？</h3>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">指的是作為特典贈送的卡牌。可以在寶可夢集換式卡牌遊戲的比賽或活動中領取的卡牌。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是集換式？</h3>
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">指的是將自己持有的卡牌與其他人交換收集。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是訓練家卡？</h3>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0 pt-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-a p-text m-0 fs-16">
                          在自己的回合中可從手牌中使出的卡牌。使用卡牌上記載的說明文的效果，協助寶可夢戰鬥。有在自己的回合只可使用1張的「支援者」卡和「競技場」卡，以及在自己的回合可不限次數使用的「物品」卡，可以附於寶可夢身上的「寶可夢道具」卡等4種。
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false"
                        aria-controls="collapsefive">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">撤退是需要做什麼？</h3>
                      </button>
                    </h2>
                    <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">
                          指的是將戰鬥寶可夢與備戰寶可夢互換。寶可夢撤退至備戰區時，要丟棄必要數量的能量。戰鬥寶可夢撤退至備戰區後，必須要從備戰區將其他寶可夢放置於戰鬥場。在自己的回合中，只可撤退1次
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false"
                        aria-controls="collapsesix">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼​是​睡眠？</h3>
                      </button>
                    </h2>
                    <div id="collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0 pt-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-a p-text m-0 fs-16">
                          指的是寶可夢因對手的招式等，處於叫做「睡眠」的特殊狀態。睡眠的寶可夢需要將卡牌橫置作為標記。睡眠的寶可夢無法使出招式，也無法撤退。處於睡眠狀態後，在每次寶可夢檢查時擲硬幣，若為正面，則恢復。從「睡眠」狀態恢復也可使用以下方法。・進化
                          ・使用例如「萬靈藥」的物品卡。
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false"
                        aria-controls="collapseseven">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是「場」？</h3>
                      </button>
                    </h2>
                    <div id="collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">指的是自己與對手的戰鬥場以及包含備戰區在內的對戰的場所。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false"
                        aria-controls="collapseeight">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是半牌組？</h3>
                      </button>
                    </h2>
                    <div id="collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 img-b-color my-0 my-xl-0 fs-16">指的是由30張卡牌組合而成的牌組。相同名稱的卡牌最多只可放入2張。使用3張獎賞卡對戰。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false"
                        aria-controls="collapsenine">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是戰鬥場？</h3>
                      </button>
                    </h2>
                    <div id="collapsenine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">指的是寶可夢戰鬥的場所。放置於戰鬥場上的寶可夢叫做戰鬥寶可夢。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false"
                        aria-controls="collapseTen">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是戰鬥寶可夢？</h3>
                      </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">指的是寶可夢戰鬥的場所。放置於戰鬥場上的寶可夢叫做戰鬥寶可夢。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseeleven" aria-expanded="false"
                        aria-controls="collapseeleven">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是對戰桌墊？</h3>
                      </button>
                    </h2>
                    <div id="collapseeleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">是標示了戰鬥場或備戰區等的位置，可以更容易讓對戰上手的桌墊。即使沒有對戰桌墊，也可以進行對戰。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsetwelve" aria-expanded="false"
                        aria-controls="collapsetwelve">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是HP？</h3>
                      </button>
                    </h2>
                    <div id="collapsetwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">HP是寶可夢的體力。若受到這個數字以上的傷害，寶可夢就會昏厥。</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header accordion-header-com-QA">
                      <button class="accordion-button Right-menu-button collapsed img-b-color py-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapsethirteen" aria-expanded="false"
                        aria-controls="collapsethirteen">
                        <img class="img-com-Q" src="../assets/images/Q&A-img/Frame Q.svg" alt="圖片-文字Q">
                        <h3 class="h-24 img-b-color my-0 my-xl-0 fs-20">什麼是備戰區？</h3>
                      </button>
                    </h2>
                    <div id="collapsethirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body d-xl-flex align-items-center A-com m-0">
                        <img class="img-com-A" src="../assets/images/Q&A-img/Frame A.svg" alt="圖片-文字A">
                        <p class="h-24 p-100 fs-16">放置準備中的寶可夢的場所。備戰區的寶可夢叫做備戰寶可夢。備戰寶可夢最多可放置5隻。</p>
                      </div>
                    </div>
                  </div>

                  <nav aria-label="Page navigation" class="mt-7 mb-8">
                    <ul class="pagination justify-content-center mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="#">
                          <img src="../assets/images/arrow-left.svg" alt="上一頁" class="pagination-arrow" />
                        </a>
                      </li>

                      <li class="page-item active">
                        <a class="page-link" href="">1</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="">2</a></li>
                      <li class="page-item"><a class="page-link" href="">3</a></li>
                      <li class="page-item"><a class="page-link" href="">4</a></li>
                      <li class="page-item"><a class="page-link" href="">5</a></li>

                      <li class="page-item">
                        <a class="page-link" href="#">
                          <img src="../assets/images/arrow-right.svg" alt="下一頁" class="pagination-arrow" />
                        </a>
                      </li>
                    </ul>
                  </nav>

                  <!-- <div class=" page-number accordion-item mb-3 mt-7">
                    <div class="d-flex justify-content-center align-items-center m-0a mt-5 ">
                        <nav class=" w-80 d-xl-flex justify-content-xl-center" aria-label="Page navigation example">
                            <ul
                                class="pagination page-number-color h-32 d-flex justify-content-evenly align-items-center column-gap-2 m-0">
                                <li class="page-item ms-3 ">
                                    <a class="page-link d-block  border-bottom-3" href="#" aria-label="Previous">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link d-block page-number-hover" href="#">1</a></li>
                                <li class="page-item"><a class="page-link d-block page-number-hover" href="#">2</a></li>
                                <li class="page-item"><a class="page-link d-block page-number-hover" href="#">3</a></li>
                                <li class="page-item"><a class="page-link d-block page-number-hover" href="#">4</a></li>
                                <li class="page-item"><a class="page-link d-block page-number-hover" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link d-block page-number-svg-hover " href="#" aria-label="Next">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div> -->
                </div>
              </div>
              <!-- 部落格文章  產品卡片 互動式小工具-->
          </div>
          </article>
      </div>
      </main>
    </div>
    </div>

    <%- include('./layout/footer'); -%>







</body>

</html>